#
# ~/.gitconfig
#

[user]
	name = abriemme
	email = abry.maxime@gmail.com
	editor = emacs
[alias]
	c = clone --recursive
	ci = commit
	co = checkout
	ca = !git add -A && git commit -a
	p = push
	s = status
[apply]
	whitespace = fix

[core]
	excludesfile = ~/.gitignore
	whitespace = space-before-tab,indent-with-non-tab,trailing-space,cr-at-eol

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[push]
	default = simple
